@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
body {
	background: url(images/fon.jpg);
 	margin:0;
  	padding: 0;
  }
    a{text-decoration: none;}
.header {
	background: rgba(0, 0, 0, 0.7); 
	margin-top: 10px;
	border-radius: 13px;
	padding-bottom: 10px;
}
.header p{
	font:  4vw/1px comic sans ms;
	margin-right: 1%;
	margin-top: 4%;
	color: #ffffff;
	float: right;
}

.header_menu{
	height: 50px;
	background: rgba(220, 220, 220, 0.7); 
	margin: 1%;
	border-radius: 13px;
	
}

.header_menu a{
	font:  1.5vw/50px 'Russo One', sans-serif;
	margin-left: 20px;
	margin-right: 40px;
	color: #ffffff;

}
section {
    float: left;
    width: 50%;
}
aside {
    float: right;
    width: 50%;
}
.header_menu span{
	font:  1vw/50px 'Russo One', sans-serif;
	float: right;
	margin-right: 1vw;
	color: #ffffff;

}

.header_menu a:hover{color: red; transition: 1s;}


input[type="checkbox"] {
    display: none;
}

label{    
    display: none;
}
#menu {    
    display: none;
}
label:hover{
   color: red; transition: 1s;
}


@media screen and (max-width: 1200px) {
    
   aside, section{
   	display: none
   }
    label{
         display: block;
         margin: 1%;
         font:  25px/50px 'Russo One', sans-serif;
         color: #ffffff;
    }
    input[type="checkbox"]:checked ~#menu{
    	display: block;
    	position:relative;
		z-index: 2;
    }


    
}



.footer {
	background: rgba(0, 0, 0, 0.9); 
	margin-top: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	height: 8vw;
}

.footer a {
	font:  1.5vw/4vw 'Russo One', sans-serif;
	margin-left: 1vw;
	margin-right: 1vw;
	color: #ffffff;
}
.footer p {
	font:  1.5vw/2vw 'Russo One', sans-serif;
	margin-left: 1vw;
	margin-right: 1vw;
	color: #ffffff;
}
.footer a:hover{color: red; transition: 1s;}



.Line {
	height: 4vw;
	background: linear-gradient(to top, #ffc20d, #ffc23d);
  box-shadow:
	1px 0px rgb(255,214,89), 1px 1px rgb(236,177,0),
  2px 1px rgb(254,213,88), 2px 2px rgb(235,176,0),
  3px 2px rgb(253,212,87), 3px 3px rgb(234,175,0),
  4px 3px rgb(252,211,86), 4px 4px rgb(233,174,0),
  5px 4px rgb(251,210,85), 5px 5px rgb(232,173,0),
  6px 5px rgb(250,209,84), 6px 6px rgb(231,172,0),
  7px 6px rgb(249,208,83), 7px 7px rgb(230,171,0),
  8px 7px rgb(248,207,82), 8px 8px rgb(229,170,0);
  margin-left: 1%;
  margin-right: 1%;
  position:relative;
		z-index: 1;
}
.Line p {
	font:  3.5vw 'Russo One', sans-serif;
	text-align: center;
	color: black;
}

.content {
	background: #f5f5f5;
	padding: 2%;
	 margin-left: 2%;
  margin-right: 2%;
  display: table;
	width: 92%; 
}


.content p{
	font:  2vw/3vw 'Russo One', sans-serif;
	color: black;
}




/****TABLE 1****/
.table1 th {
font:  3vw/3vw 'Russo One', sans-serif;
background: #FFD700; 
padding: 8px;
}
.table1 td {
font:  2vw/2vw 'Russo One', sans-serif;
text-align: center;
background: #FAFAD2;
border-bottom: 1px solid #fff;
border-top: 1px solid transparent;
padding: 8px;
}
.table1 tr:hover td {
background: #FF7F50; 
}


.ant-carousel-hider p{
	font:  1vw/1vw 'Russo One', sans-serif;
}



/**Увеличение картинки**/
img[tabindex="0"] {
  cursor: zoom-in;
}
img[tabindex="0"]:focus {
  position: fixed;
  z-index: 31;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  margin: auto;
  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
}
img[tabindex="0"]:focus,  /* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */
img[tabindex="0"]:focus ~ * {
  pointer-events: none;
  cursor: zoom-out;